<div class="table-container">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

      <ng-container matColumnDef="code">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Code </th>
        <td mat-cell *matCellDef="let retailer"> {{retailer.code}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let retailer"> {{retailer.name}} </td>
      </ng-container>

      <ng-container matColumnDef="country">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Country </th>
        <td mat-cell *matCellDef="let retailer"> {{retailer.country}} </td>
      </ng-container>

      <ng-container matColumnDef="scheme">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Scheme </th>
        <td mat-cell *matCellDef="let retailer"> {{retailer.scheme}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>