.data-wrapper {
  display:flex;
  flex-direction: row;
  margin: 5%;
}

.table-container {
  width: 65%;
}

app-data-details {
  width: 30%;
  margin: 5% 0 0 5%;
}

mat-row.mat-mdc-row:hover {
  background-color:azure;
  cursor: pointer;
}

mat-row.mat-mdc-row.selectedRow {
  background-color:aquamarine
}