.search-filter {
  &__wrapper {
    
    & .filters-container {
      display: flex;
      flex-direction: column;

      & .filter{
        &__wrapper {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-bottom: 1em;
        }
      }
    }
  }
}