// Variables
$primary-color: #2E8B57;
$background-color: #f5f2f0;
$shadow-light: #ffffff;
$shadow-dark: #e1dfdd;
$text-primary: #000000;

// Load Profile - form Component
.form {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: $primary-color;
  }

  &__content {
    display: grid;
    padding: 2rem;
    border-radius: 20px;
    width: 100%;
    gap: 1rem;

    // Responsive grid
    @media screen and (min-width: 768px) {
      // width: 86%;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__input {
    margin-bottom: 1rem;
  }

  &__title {
    margin-top: 1rem;
  }

  &__main-title {
    padding: 1rem;
    font-weight: 900;
    font-size: 2rem;
    color: $text-primary;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
  }
}
